body {
    background-image: url('https://img.lovepik.com/photo/40015/5932.jpg_wh300.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    height: 103px;
    padding: 5px;
    padding-bottom: 1px;
    padding-left: 1px;
    margin: 0;
    text-align: center;
    background: plum;
    font-size: bolder;
    display: flex;
    border-radius: 15px;
    align-items: center;
}

.logo img {
    height: 110px;
    border-radius: 15px;
    margin-right: 10px;
}

.header-content {
    flex: 1;
}

h1 {
    margin: 0.5%;
}

#headerinfo {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bolder;
    background-color: yellow;
    opacity: 0.6;
    border-radius: 15px;
}

nav {
    width: 20%;
    background-color: orange;
    padding: 9px;
    padding-bottom: 25%;
    box-sizing: border-box;
    border-radius: 9%;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
}
