body {
    
    background-image: url('https://img.lovepik.com/photo/40015/5932.jpg_wh300.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
}


.header{
    padding: 15px;
    text-align: center;
    background: plum;
    font-size: bolder;
}

#headerinfo{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px ;
    font-size: large;
    font-weight: bolder;
    background-color: yellow;
    opacity: 0.6;
}

nav {
    width: 20%;
    background-color: orange;
    padding: 9px;
    padding-bottom: 25%;
    box-sizing: border-box;
    border-radius: 9%;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
}
